* {
    border: 0;
    margin: 0;
}

body {
    background-color: #222;
}

#contents {
    width: 900px;
    display: block;
    margin: auto;
}

nav {
    display: block;
    margin: 10px auto;
    width: 900px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    display: block;
    margin: auto;
}
nav ul li {
    display: inline-block;
    width: 110px;
}
nav ul li:hover {
    background-color: #f44;
}

/***************************************************
  Chat
***************************************************/
#chatContents,
#chatEntry {
    width: 900px;
}

#chatRoom,
#chatUserlist,
#chatEntry,
nav ul li {
    background-color: #333;
    border: 1px solid #000;
    padding: 10px;
    color: #fff;
}

#chatRoom,
#chatUserlist {
    height: 500px;
    overflow-y: auto;
    display: inline-block;
}

#chatRoom {
    width: 650px;
}
#chatUserlist {
    width: 202px;
}
#chatUserlist ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#chatEntry {
    clear: both;
    box-sizing: border-box;
}

#chatEntry textarea {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    color: #fff;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.chatName {
    color: #f44;
}
